$container-background-color: #ffffff0d;
$container-border: #fffffe4d;


.container {
	display: flex;
	flex-direction: column;
	background-color: $container-background-color;
	border-radius: 1rem;
	border: 1px solid $container-border;
	width: 60%;
	min-width: 530px;
	max-height: 700px;
	min-height: 700px;
}

.header {
	position: relative;
	width: 100%;

	h2 {
		text-align: center;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $container-border;
	}
}

.taskList {
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	height: 50rem;
	width: 100%;

	&::-webkit-scrollbar {
		display: none;
	}
}

.loaderContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.loader {
	width: 80px;
	height: 80px;
	border: none;
	border-top: 8px solid #e0e7ff;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}