@use '../../styles/variabels' as *;

.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: $auth-backgoround;
	border-radius: 20px;
	width: 400px;
	color: $form-color-text;
	box-shadow: 1px 1px 30px 0px #4e4e4e;
}

.header {
	text-align: center;
	position: relative;
	margin: 0;
	padding: 10px 0;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $form-primary;
	}
}

.submit {
	font: inherit;
	border: none;
	background-color: $button-background-color;
	color: $button-color-text;
	padding: 0.5rem 0;
	margin: 1rem 1.5rem;
	border-radius: 8px;


	&:hover {
		transition: background-color 0.3s ease-in-out;
		background-color: $button-hover-background-color;
		cursor: pointer;
	}

	&:disabled {
		background-color: $button-disabled-background-color;
		color: $button-disabled-color;
		cursor: auto;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px #ffffff80;
	}
}

.errors {
	font-size: 1rem;
	text-align: center;
	color: $error-color;
}