$task: #ffffff1a;

.task {
	display: flex;
	align-items: center;
	border: 1px solid #fffffe4d;
	border-radius: 20px;
	line-height: 1.5rem;
	width: 100%;
	margin: 10px auto;
	width: 90%;

	a {
		all: unset;
		display: inline;
		cursor: pointer;
		width: 100%;
	}


	&:hover {
		background-color: #ffffff1e;
	}
}

.content {
	display: flex;
	align-items: center;
	padding: 1rem;
	flex: 1;

	.number {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		border-radius: 10px;
		width: 50px;
		height: 30px;
	}

	.text {
		padding-left: 20px;
		font-size: 1.15rem;
		flex: 1;
		width: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.completed {
	background-color: #008d2b;
}

.uncompleted {
	background-color: #b11800;
}