:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #1f2332;
}

body {
	margin: 0 auto;
	padding: 0;
	max-width: 1024px;
	min-height: 100vh;
	background-color: var(--background-color);
	color: white;
}